@media(max-width:992px){
.footer-grid{

grid-template-columns:repeat(2,1fr);

}
.contact-grid{

grid-template-columns:1fr;

}
.partner-grid{

grid-template-columns:repeat(3,1fr);

}
.gallery-grid{

grid-template-columns:repeat(2,1fr);

}

.gallery-item.large{

grid-column:span 2;

}
.team-grid{

grid-template-columns:repeat(2,1fr);

}
.impact-grid{

grid-template-columns:repeat(2,1fr);

}
.program-grid{

grid-template-columns:repeat(2,1fr);

}
.event-card{

flex-direction:column;

text-align:center;

}

.event-details{

justify-content:center;

}

.event-right{

width:100%;

justify-content:center;

}
.ipr-grid{

grid-template-columns:repeat(2,1fr);

}
.iic-grid{

grid-template-columns:1fr;

}
.tbi-grid{

grid-template-columns:1fr;

}
.journey-grid{

grid-template-columns:repeat(2,1fr);

}
.vision-grid{

grid-template-columns:1fr;

}
.ecosystem-grid{

grid-template-columns:repeat(2,1fr);

}
.about-grid{

grid-template-columns:1fr;

}

.about-content{

text-align:center;

}

.title-line{

margin:20px auto;

}

.feature-list{

grid-template-columns:1fr;

}
.stats-grid{

    grid-template-columns:repeat(2,1fr);

}
.stats-grid{

    grid-template-columns:1fr;

}

.nav-links{

display:none;

}

.btn{

display:none;

}

.menu-btn{

display:block;

}

.hero-content{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-text p{

margin:auto auto 40px;

}

.hero-image{

margin-top:50px;

}

}

@media(max-width:768px){
.footer-grid{

grid-template-columns:1fr;

text-align:center;

}

.footer-social{

justify-content:center;

}
.partner-grid{

grid-template-columns:repeat(2,1fr);

}
.gallery-grid{

grid-template-columns:1fr;

}

.gallery-item.large{

grid-column:auto;

grid-row:auto;

}
.team-grid{

grid-template-columns:1fr;

}
.impact-grid{

grid-template-columns:1fr;

}
.program-grid{

grid-template-columns:1fr;

}
.event-card{

padding:35px 25px;

}

.event-card h2{

font-size:2rem;

}

.event-details{

flex-direction:column;

gap:15px;

align-items:center;

}
.ipr-grid{

grid-template-columns:1fr;

}
.journey-grid{

grid-template-columns:1fr;

}
.ecosystem-grid{

grid-template-columns:1fr;

}
.hero{

padding-top:110px;

}

.hero-text h1{

font-size:3.5rem;

}

.hero-text h2{

font-size:1.5rem;

}

.logo img{

width:42px;

}

.logo-text h3{

font-size:1.1rem;

}

}